---
import { Cards } from "@/components/Cards";
import Layout from "../layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import { Card } from "@/components/ui/card";
import {
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table"
---

<Layout
	title="Selfcheckout"
	description="Conecta, fideliza y haz crecer tu comunidad de hinchas"
	keywords="solunes, startup, bolivia"
	image="sales.jpg"
>
	<section
		class="w-full h-screen relative flex items-center justify-center bg-cover bg-no-repeat bg-center"
		id="inicio"
		style="background-image: url('banner.jpg');"
	>
		<div class="absolute inset-0 bg-black opacity-50"></div>

		<div class="relative text-center lg:px-32 px-2">
			<h1 class="text-white lg:text-5xl text-3xl mb-8 font-bold">
				Optimiza tus ventas y filas con soluciones Retail y Self-Checkout
			</h1>
			<Button size="lg">
				<a href="propiedades"> Solicitar una demo </a>
			</Button>
		</div>
	</section>

	<section class="py-16 bg-gradient-to-r from-[#FFC400] to-[#D38A00]"
		id="solucion"
	>
		<div class="container mx-auto">
			<div class="text-center lg:px-32">
				<h5
					class="text-white lg:text-lg mb-4 font-bold"
				>
					Presentamos: +Selfcheckout
				</h5>
				<h1
					class="text-white text-2xl lg:mb-4 font-bold"
				>
					El Ecosistema Integral de Retail y Self-Checkout
				</h1>
				<img src="mindmap.png" class="py-10 mx-auto" />
				<p class="text-white font-light lg:px-10">
					Optimiza cada aspecto de tu negocio con nuestras soluciones: desde la administración de ventas, gestión de inventario, hasta dispositivos de autoservicio y análisis de datos en tiempo real. Todo lo que necesitas para reducir tiempos de espera, aumentar ventas y mejorar la experiencia del cliente.
				</p>
			</div>
			<Cards client:load />
		</div>
	</section>

	<section class="pt-16"
		id="beneficios"
	>
		<div class="container mx-auto">
			<h1
				class="text-2xl lg:mb-4 font-bold text-center pb-10"
			>
				¿Por qué elegir <span class="text-[#FDC018]">+</span>Selfcheckout?
			</h1>
			<div class="grid lg:grid-cols-2 gap-20 items-center">
				<div>
					<img src="sales.jpg" />
				</div>

				<div>
					<p class="text-gray-400 font-light mb-5">
						Nuestra plataforma no solo reduce tiempos de espera, sino que también aumenta la satisfacción del cliente, mejora la gestión interna y eleva tus ingresos.
					</p>
					<div
						class="grid grid-cols-[25px_1fr] items-start pb-4 last:mb-0 last:pb-0"
					>
						<span
							class="flex h-2 w-2 translate-y-2 rounded-full bg-[#FDC018]"
						></span>
						<p class="text-gray-400 font-light">
							Reducción de filas y tiempos de espera: Agiliza el proceso de pago, mejora la fluidez del tráfico en el negocio y aumenta la satisfacción del cliente.
						</p>
					</div>
					<div
						class="grid grid-cols-[25px_1fr] items-start pb-4 last:mb-0 last:pb-0"
					>
						<span
							class="flex h-2 w-2 translate-y-2 rounded-full bg-[#FDC018]"
						></span>
						<p class="text-gray-400 font-light">
							Mejora de la eficiencia operativa: Optimiza los procesos, libera personal para tareas de mayor valor y reduce costos operativos.
						</p>
					</div>
					<div
						class="grid grid-cols-[25px_1fr] items-start pb-4 last:mb-0 last:pb-0"
					>
						<span
							class="flex h-2 w-2 translate-y-2 rounded-full bg-[#FDC018]"
						></span>
						<p class="text-gray-400 font-light">
							Mejora de la experiencia de compra: Crea un ambiente de compra dinámico, interactivo y personalizado que fideliza a los clientes.
						</p>
					</div>
					<div
						class="grid grid-cols-[25px_1fr] items-start pb-4 last:mb-0 last:pb-0"
					>
						<span
							class="flex h-2 w-2 translate-y-2 rounded-full bg-[#FDC018]"
						></span>
						<p class="text-gray-400 font-light">
							Escalabilidad: Diseñado para crecer junto con tu negocio.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="mt-16 py-16 bg-[#FCF8EF]">
			<div class="container mx-auto">
				<div class="lg:flex gap-10 lg:px-40">
					<img src="eatout-icon.png" class="w-24">
					<h5 class="font-light text-xl mt-5 lg:mt-0">““Desde que implementamos las cajas de autoservicio y los sistemas de gestión de inventario, nuestras ventas han aumentado un 8.7%, y los clientes están más satisfechos que nunca.”</h5>
				</div>
			</div>
		</div>
	</section>


	<section class="py-16"
		id="precios"
	>
		<div class="container mx-auto">
			<h1
				class="text-2xl font-bold text-center pb-10"
			>
				Planes y precios
			</h1>
			
			<Card>
				<Table>
					<TableHeader>
					  <TableRow>
						<TableHead className="text-md font-semibold">Servicio</TableHead>
						<TableHead className="text-md font-semibold">Plan mensual</TableHead>
						<TableHead className="text-md font-semibold">Implementación</TableHead>
						<TableHead className="text-md font-semibold">Plan anual</TableHead>
					  </TableRow>
					</TableHeader>
					<TableBody>
					  <TableRow className="font-light text-gray-500">
						<TableCell className="font-medium text-gray-600">Selfcheckout Web + TOTEM + INVENTARIO</TableCell>
						<TableCell>300 $us</TableCell>
						<TableCell>1500 $us (Costo único)</TableCell>
						<TableCell>3000 $us</TableCell>
					  </TableRow>
					  <TableRow className="font-light text-gray-500">
						<TableCell className="font-medium text-gray-600">Selfcheckout App</TableCell>
						<TableCell>200 $us</TableCell>
						<TableCell>-</TableCell>
						<TableCell>2000 $us</TableCell>
					  </TableRow>
					  <TableRow className="font-light text-gray-500">
						<TableCell className="font-medium text-gray-600">Chatbot Whatsapp IA</TableCell>
						<TableCell>400 $us</TableCell>
						<TableCell>1500 $us (Costo único)</TableCell>
						<TableCell>4000 $us</TableCell>
					  </TableRow>
					  <TableRow className="font-light text-gray-500">
						<TableCell className="font-medium text-gray-600">Módulo de CRM</TableCell>
						<TableCell>500 $us</TableCell>
						<TableCell>1000 $us (Costo único)</TableCell>
						<TableCell>5000 $us</TableCell>
					  </TableRow>
				</Table>
			</Card>
		</div>
	</section>

	<section
	class="w-full relative py-16 bg-cover bg-no-repeat bg-center"
	style="background-image: url('cta.jpg');"
	>
		<div class="absolute inset-0 bg-gradient-to-r from-[#FFC400] to-[#D38A00] opacity-60"></div>

		<div class="container mx-auto relative lg:px-32">
			<div class="lg:flex gap-10">
				<img src="logo-white.svg">
				<div>
					<h1 class="text-white lg:text-2xl mb-5 font-bold">
						Empieza a transformar la relación con tus fans hoy.</h1>
					<div class="flex gap-4">
						<Button>
							<a href="#"> Agendar una demo </a>
						</Button>
						<Button variant="outline">
							<a href="#"> Contactar</a>
						</Button>
					</div>
				</div>
			</div>
		</div>
	</section>
</Layout>
